{
  "swagger": "2.0",
  "info": {
    "title": "Petra API",
    "description": "Connector for the Petra airport taxi dispatch backend.",
    "version": "1.0"
  },
  "host": "petra.andynope.com",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/dispatch": {
      "get": {
        "summary": "Get dispatch overview",
        "description": "Returns the dispatch dashboard data including taxis, stats, open trips, and recent trips.",
        "operationId": "GetDispatch",
        "responses": {
          "200": {
            "description": "Dispatch overview.",
            "schema": {
              "$ref": "#/definitions/DispatchOverview"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/taxis": {
      "get": {
        "summary": "Get active taxis",
        "description": "Returns all active taxis.",
        "operationId": "GetTaxis",
        "responses": {
          "200": {
            "description": "List of active taxis.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Taxi"
              }
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "post": {
        "summary": "Register or reactivate taxi",
        "description": "Creates or reactivates a taxi by radio ID and position.",
        "operationId": "RegisterTaxi",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterTaxiRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Registered taxi.",
            "schema": {
              "$ref": "#/definitions/Taxi"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/taxis/{taxiId}/position": {
      "patch": {
        "summary": "Update taxi position",
        "description": "Updates the current zone of an active taxi.",
        "operationId": "UpdateTaxiPosition",
        "parameters": [
          {
            "$ref": "#/parameters/TaxiId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaxiPositionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Position updated.",
            "schema": {
              "$ref": "#/definitions/TaxiPositionResponse"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/taxis/{taxiId}/deactivate": {
      "patch": {
        "summary": "Deactivate taxi",
        "description": "Marks a taxi as inactive.",
        "operationId": "DeactivateTaxi",
        "parameters": [
          {
            "$ref": "#/parameters/TaxiId"
          }
        ],
        "responses": {
          "200": {
            "description": "Taxi deactivated.",
            "schema": {
              "$ref": "#/definitions/OkResponse"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/trips": {
      "get": {
        "summary": "Get trips",
        "description": "Returns trips filtered by status, trip ID, or taxi ID.",
        "operationId": "GetTrips",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "pending",
              "accepted",
              "in_progress",
              "completed",
              "all"
            ]
          },
          {
            "name": "taxi_id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "trip_id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Trips or a single trip when trip_id is provided.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Trip"
              }
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "post": {
        "summary": "Create trip",
        "description": "Creates a new trip request.",
        "operationId": "CreateTrip",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateTripRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created trip.",
            "schema": {
              "$ref": "#/definitions/Trip"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/trips/{tripId}": {
      "get": {
        "summary": "Get trip by ID",
        "description": "Returns one trip by its ID.",
        "operationId": "GetTripById",
        "parameters": [
          {
            "$ref": "#/parameters/TripId"
          }
        ],
        "responses": {
          "200": {
            "description": "Trip details.",
            "schema": {
              "$ref": "#/definitions/Trip"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/trips/{tripId}/accept": {
      "patch": {
        "summary": "Accept trip",
        "description": "Assigns a pending trip to a taxi.",
        "operationId": "AcceptTrip",
        "parameters": [
          {
            "$ref": "#/parameters/TripId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TripTaxiRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Accepted trip.",
            "schema": {
              "$ref": "#/definitions/Trip"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/trips/{tripId}/complete": {
      "patch": {
        "summary": "Complete trip",
        "description": "Completes an assigned trip and optionally updates the taxi position.",
        "operationId": "CompleteTrip",
        "parameters": [
          {
            "$ref": "#/parameters/TripId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompleteTripRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trip completion result.",
            "schema": {
              "$ref": "#/definitions/CompleteTripResponse"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/trips/{tripId}/cancel": {
      "patch": {
        "summary": "Cancel trip",
        "description": "Cancels a trip that is not yet finished.",
        "operationId": "CancelTrip",
        "parameters": [
          {
            "$ref": "#/parameters/TripId"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/TripTaxiRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trip cancelled.",
            "schema": {
              "$ref": "#/definitions/OkResponse"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "TaxiId": {
      "name": "taxiId",
      "in": "path",
      "required": true,
      "type": "integer",
      "format": "int32"
    },
    "TripId": {
      "name": "tripId",
      "in": "path",
      "required": true,
      "type": "integer",
      "format": "int32"
    }
  },
  "definitions": {
    "Taxi": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "radio_id": {
          "type": "string"
        },
        "position": {
          "type": "string"
        },
        "capacity": {
          "type": "integer",
          "format": "int32"
        },
        "occupied": {
          "type": "integer",
          "format": "int32"
        },
        "active": {
          "type": "boolean"
        },
        "last_seen": {
          "type": "string"
        },
        "free_seats": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Trip": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "taxi_id": {
          "type": "integer",
          "format": "int32"
        },
        "pickup_zone": {
          "type": "string"
        },
        "pickup_detail": {
          "type": "string"
        },
        "dropoff_zone": {
          "type": "string"
        },
        "dropoff_detail": {
          "type": "string"
        },
        "passengers": {
          "type": "integer",
          "format": "int32"
        },
        "status": {
          "type": "string"
        },
        "overflow_warning": {
          "type": "boolean"
        },
        "requested_at": {
          "type": "string"
        },
        "accepted_at": {
          "type": "string"
        },
        "completed_at": {
          "type": "string"
        },
        "taxi_radio_id": {
          "type": "string"
        },
        "taxi_position": {
          "type": "string"
        }
      }
    },
    "DispatchStat": {
      "type": "object",
      "properties": {
        "total": {
          "type": "integer",
          "format": "int32"
        },
        "passengers": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "DispatchOverview": {
      "type": "object",
      "properties": {
        "taxis": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Taxi"
          }
        },
        "stats": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/DispatchStat"
          }
        },
        "open_trips": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Trip"
          }
        },
        "recent": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Trip"
          }
        }
      }
    },
    "RegisterTaxiRequest": {
      "type": "object",
      "required": [
        "radio_id",
        "position"
      ],
      "properties": {
        "radio_id": {
          "type": "string"
        },
        "position": {
          "type": "string"
        }
      }
    },
    "TaxiPositionRequest": {
      "type": "object",
      "required": [
        "position"
      ],
      "properties": {
        "position": {
          "type": "string"
        }
      }
    },
    "TaxiPositionResponse": {
      "type": "object",
      "properties": {
        "ok": {
          "type": "boolean"
        },
        "position": {
          "type": "string"
        }
      }
    },
    "CreateTripRequest": {
      "type": "object",
      "required": [
        "pickup_zone",
        "dropoff_zone",
        "passengers"
      ],
      "properties": {
        "pickup_zone": {
          "type": "string"
        },
        "pickup_detail": {
          "type": "string"
        },
        "dropoff_zone": {
          "type": "string"
        },
        "dropoff_detail": {
          "type": "string"
        },
        "passengers": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "TripTaxiRequest": {
      "type": "object",
      "properties": {
        "taxi_id": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "CompleteTripRequest": {
      "type": "object",
      "required": [
        "taxi_id"
      ],
      "properties": {
        "taxi_id": {
          "type": "integer",
          "format": "int32"
        },
        "position": {
          "type": "string"
        }
      }
    },
    "CompleteTripResponse": {
      "type": "object",
      "properties": {
        "ok": {
          "type": "boolean"
        },
        "remaining_load": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "OkResponse": {
      "type": "object",
      "properties": {
        "ok": {
          "type": "boolean"
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string"
        }
      }
    }
  }
}